# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# CompiledScreen Recording 2025-03-29 at 14.17.37 Static libraries
rar


*.lai
*.la
*.a
*.lib

# Debug
gdb.txt
.temp/
.build/
.vscode/

# Executables
*.exe
*.out
*.app
webserv

# Secrets
.env

#Python
**/__pycache__
.venv/

# Temp
.DS_Store
