# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Debug
gdb.txt
.temp/
.build/
.vscode/

# Executables
*.exe
*.out
*.app
webserv

# Secrets
.env

#Python
**/__pycache__
.venv/

